@charset "utf-8";
/* CSS Document */

/* Overwriting styles for control arrows for slides
	* --------------------------------------- */
	.controlArrow.prev {
		left: 50px;
	}
	.controlArrow.next{
		right: 50px;
	}

/*reset*/
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top;}

/*common*/
.wrap{width: 1200px; margin: 0 auto; position: relative;}
.wrap:after, ul:after{content: ""; clear: both; display: block;}

/*fullpage sectiom1*/
#fullpage #section1:after{content: ""; clear: both; display: block;}
#fullpage #section1 figure, #fullpage #section1 .box{float: left;}
#fullpage #section1 .box{width: 610px; padding-top: 150px;}
#fullpage #section1 dl dt{font-size: 26px; font-family: ntbl;}
#fullpage #section1 dl dd{font-size: 18px; font-family: ntm; line-height: 1.2;}
#fullpage #section1 .box > p{font-size: 18px; font-family: ntbl; padding: 50px 0 15px;}
#fullpage #section1 .name, #fullpage #section1 .infomation{float: left;}
#fullpage #section1 .name{font-size: 16px; font-family: ntb;}
#fullpage #section1 .name P:nth-child(2){padding: 31px 0 9px;}
#fullpage #section1 .name P:nth-child(3){padding-bottom: 31px;}
#fullpage #section1 .infomation p{font-size: 16px; font-family: ntr; padding-bottom: 10px;}


#fullpage #section1 #slide1 .box{padding-left: 110px;}
#fullpage #section1 #slide1 .infomation p{padding-left: 20px;}
#fullpage #section1 #slide2{text-align: right;}
#fullpage #section1 #slide2 .box{padding-right: 110px;}
#fullpage #section1 #slide2 .box .infomation p{padding-right: 20px;}
#fullpage #section1 #slide3 .box .infomation p{padding-left: 20px;}
#fullpage #section1 #slide3 .box{padding-left: 110px;}


